:root[data-colors="dark"] {
  --core-primary-app-dark: rgb(154, 144, 223);
  --core-primary-app-base: rgb(98, 77, 227);
  --aliases-border-active: var(--core-primary-app-base);
  --core-neutral-neutral-6: rgb(174, 178, 183);
  --aliases-border-darkest: var(--core-neutral-neutral-6);
  --core-label-red-base: rgb(221, 72, 64);
  --aliases-border-error: var(--core-label-red-base);
  --core-neutral-neutral-2: rgb(49, 50, 53);
  --aliases-border-lightest: var(--core-neutral-neutral-2);
  --core-neutral-neutral-1: rgb(31, 32, 35);
  --aliases-component-child: var(--core-neutral-neutral-1);
  --aliases-component-disabled: var(--core-neutral-neutral-1);
  --core-neutral-neutral-0: rgb(31, 32, 35);
  --aliases-component-elevated-element: var(--core-neutral-neutral-0);
  --core-label-red-lighter: rgb(60, 38, 39);
  --aliases-component-error: var(--core-label-red-lighter);
  --core-primary-app-lighter: rgb(54, 42, 121);
  --aliases-component-highlight: var(--core-primary-app-lighter);
  --aliases-component-hover-on-darkest: var(--core-neutral-neutral-2);
  --aliases-component-hover-on-lightest: var(--core-neutral-neutral-1);
  --core-label-blue-lighter: rgb(41, 52, 67);
  --aliases-component-info: var(--core-label-blue-lighter);
  --aliases-component-input: var(--core-neutral-neutral-0);
  --aliases-component-parent: var(--core-neutral-neutral-0);
  --core-label-green-lighter: rgb(45, 60, 48);
  --aliases-component-success: var(--core-label-green-lighter);
  --core-neutral-neutral-8: rgb(255, 255, 255);
  --aliases-component-tooltip: var(--core-neutral-neutral-8);
  --core-label-orange-lighter: rgb(65, 51, 36);
  --aliases-component-warning: var(--core-label-orange-lighter);
  --aliases-icon-default: var(--core-neutral-neutral-6);
  --core-neutral-neutral-3: rgb(68, 71, 75);
  --aliases-icon-disabled: var(--core-neutral-neutral-3);
  --aliases-icon-error: var(--core-label-red-base);
  --core-label-blue-base: rgb(96, 168, 250);
  --aliases-icon-info: var(--core-label-blue-base);
  --aliases-icon-on-colored-bg: var(--core-neutral-neutral-1);
  --aliases-icon-selected: var(--core-primary-app-base);
  --core-label-green-base: rgb(125, 216, 121);
  --aliases-icon-success: var(--core-label-green-base);
  --core-label-orange-base: rgb(255, 158, 41);
  --aliases-icon-warning: var(--core-label-orange-base);
  --aliases-surface-overlay: var(--core-neutral-neutral-8);
  --aliases-surface-surface-1: var(--core-neutral-neutral-0);
  --aliases-surface-surface-2: var(--core-neutral-neutral-1);
  --aliases-surface-surface-3: var(--core-neutral-neutral-2);
  --aliases-text-active: var(--core-primary-app-base);
  --core-label-red-dark: rgb(227, 105, 99);
  --aliases-text-error: var(--core-label-red-dark);
  --aliases-text-high-emphasis: var(--core-neutral-neutral-8);
  --aliases-text-info: var(--core-label-blue-base);
  --aliases-text-low-emphasis: var(--core-neutral-neutral-6);
  --core-neutral-neutral-7: rgb(244, 245, 245);
  --aliases-text-medium-emphasis: var(--core-neutral-neutral-7);
  --aliases-text-on-colored-bg: var(--core-neutral-neutral-1);
  --aliases-text-success: var(--core-label-green-base);
  --aliases-text-warning: var(--core-label-orange-base);
  --core-label-red-light: rgb(183, 64, 58);
  --components-button-bg-destructive-active: var(--core-label-red-light);
  --components-button-bg-destructive-default: var(--core-label-red-base);
  --components-button-bg-destructive-hover: var(--core-label-red-dark);
  --core-primary-app-light: rgb(84, 67, 188);
  --components-button-bg-primary-active: var(--core-primary-app-light);
  --components-button-bg-primary-default: var(--core-primary-app-base);
  --components-button-bg-primary-hover: var(--core-primary-app-dark);
  --components-button-bg-secondary-active: var(--core-neutral-neutral-2);
  --components-button-bg-secondary-default: var(--core-neutral-neutral-0);
  --components-button-bg-secondary-hover: var(--core-neutral-neutral-1);
  --core-label-orange-light: rgb(105, 82, 58);
  --components-button-bg-warning-active: var(--core-label-orange-light);
  --components-button-bg-warning-default: var(--core-label-orange-lighter);
  --components-button-border-destructive-default: var(--core-label-red-dark);
  --components-button-border-destructive-focused: var(--core-label-red-lighter);
  --components-button-border-primary-default: var(--core-primary-app-dark);
  --components-button-border-primary-focused: var(--core-primary-app-lighter);
  --components-button-border-secondary-default: var(--core-neutral-neutral-2);
  --components-button-border-warning-hover: var(--core-label-orange-light);
  --components-button-text-destructive-hover: var(--core-label-red-lighter);
  --core-neutral-neutral-4: rgb(92, 96, 102);
  --core-neutral-neutral-5: rgb(120, 126, 135);
}
:root[data-colors="light"] {
  --core-primary-app-dark: rgb(73, 56, 195);
  --core-primary-app-base: rgb(235, 33, 33);
  --aliases-border-active: var(--core-primary-app-base);
  --core-neutral-neutral-6: rgb(92, 111, 138);
  --aliases-border-darkest: var(--core-neutral-neutral-6);
  --core-label-red-base: rgb(245, 72, 63);
  --aliases-border-error: var(--core-label-red-base);
  --core-neutral-neutral-2: rgb(222, 228, 237);
  --aliases-border-lightest: var(--core-neutral-neutral-2);
  --core-neutral-neutral-1: rgb(246, 248, 251);
  --aliases-component-child: var(--core-neutral-neutral-1);
  --aliases-component-disabled: var(--core-neutral-neutral-1);
  --core-neutral-neutral-0: rgb(255, 255, 255);
  --aliases-component-elevated-element: var(--core-neutral-neutral-0);
  --core-label-red-lighter: rgb(254, 228, 226);
  --aliases-component-error: var(--core-label-red-lighter);
  --core-primary-app-lighter: rgb(231, 228, 251);
  --aliases-component-highlight: var(--core-primary-app-lighter);
  --aliases-component-hover-on-darkest: var(--core-neutral-neutral-2);
  --aliases-component-hover-on-lightest: var(--core-neutral-neutral-1);
  --core-label-blue-lighter: rgb(219, 236, 254);
  --aliases-component-info: var(--core-label-blue-lighter);
  --aliases-component-input: var(--core-neutral-neutral-0);
  --aliases-component-parent: var(--core-neutral-neutral-0);
  --core-label-green-lighter: rgb(230, 247, 229);
  --aliases-component-success: var(--core-label-green-lighter);
  --core-neutral-neutral-8: rgb(37, 24, 24);
  --aliases-component-tooltip: var(--core-neutral-neutral-8);
  --core-label-orange-lighter: rgb(255, 244, 230);
  --aliases-component-warning: var(--core-label-orange-lighter);
  --aliases-icon-default: var(--core-neutral-neutral-6);
  --core-neutral-neutral-3: rgb(204, 213, 225);
  --aliases-icon-disabled: var(--core-neutral-neutral-3);
  --aliases-icon-error: var(--core-label-red-base);
  --core-label-blue-base: rgb(17, 125, 249);
  --aliases-icon-info: var(--core-label-blue-base);
  --aliases-icon-on-colored-bg: var(--core-neutral-neutral-1);
  --aliases-icon-selected: var(--core-primary-app-base);
  --core-label-green-base: rgb(88, 205, 82);
  --aliases-icon-success: var(--core-label-green-base);
  --core-label-orange-base: rgb(255, 142, 5);
  --aliases-icon-warning: var(--core-label-orange-base);
  --aliases-surface-overlay: var(--core-neutral-neutral-8);
  --aliases-surface-surface-1: var(--core-neutral-neutral-0);
  --aliases-surface-surface-2: var(--core-neutral-neutral-1);
  --aliases-surface-surface-3: var(--core-neutral-neutral-2);
  --aliases-text-active: var(--core-primary-app-base);
  --core-label-red-dark: rgb(219, 38, 44);
  --aliases-text-error: var(--core-label-red-base);
  --aliases-text-high-emphasis: var(--core-neutral-neutral-8);
  --aliases-text-info: var(--core-label-blue-base);
  --aliases-text-low-emphasis: var(--core-neutral-neutral-6);
  --core-neutral-neutral-7: rgb(50, 59, 72);
  --aliases-text-medium-emphasis: var(--core-neutral-neutral-7);
  --aliases-text-on-colored-bg: var(--core-neutral-neutral-1);
  --aliases-text-success: var(--core-label-green-base);
  --aliases-text-warning: var(--core-label-orange-base);
  --core-label-red-light: rgb(255, 113, 92);
  --components-button-bg-destructive-active: var(--core-label-red-light);
  --components-button-bg-destructive-default: var(--core-label-red-base);
  --components-button-bg-destructive-hover: var(--core-label-red-dark);
  --core-primary-app-light: rgb(138, 120, 238);
  --components-button-bg-primary-active: var(--core-primary-app-light);
  --components-button-bg-primary-default: var(--core-primary-app-base);
  --components-button-bg-primary-hover: var(--core-primary-app-dark);
  --components-button-bg-secondary-active: var(--core-neutral-neutral-2);
  --components-button-bg-secondary-default: var(--core-neutral-neutral-0);
  --components-button-bg-secondary-hover: var(--core-neutral-neutral-1);
  --core-label-orange-light: rgb(255, 223, 184);
  --components-button-bg-warning-active: var(--core-label-orange-light);
  --components-button-bg-warning-default: var(--core-label-orange-lighter);
  --components-button-border-destructive-default: var(--core-label-red-dark);
  --components-button-border-destructive-focused: var(--core-label-red-lighter);
  --components-button-border-primary-default: var(--core-primary-app-dark);
  --components-button-border-primary-focused: var(--core-primary-app-lighter);
  --components-button-border-secondary-default: var(--core-neutral-neutral-2);
  --components-button-border-warning-hover: var(--core-label-orange-light);
  --components-button-text-destructive-hover: var(--core-label-red-lighter);
  --core-neutral-neutral-4: rgb(179, 192, 208);
  --core-neutral-neutral-5: rgb(120, 139, 165);
}
:root {
  --Color-styles-Primary-Dark: var(--core-primary-app-dark);
  --Color-styles-Primary-Light: var(--core-primary-app-dark);
  --Color-styles-Sunrise: linear-gradient(
    0deg,
    rgba(92, 20, 246, 0.93) 0%,
    rgb(201, 72, 196) 100%
  );
  --Effect-styles-Shadow-1: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Text-styles-Body-font-style: normal;
  --Text-styles-Body-font-family: "Inter";
  --Text-styles-Body-font-weight: regular;
  --Text-styles-Body-font-size: 12px;
  --Text-styles-Body-text-indent: 0px;
  --Text-styles-Body-line-height: 18px;
  --Text-styles-Body-letter-spacing: 0%;
  --Text-styles-Body-text-transform: none;
  --Text-styles-Body-text-decoration: none;
  --Text-styles-Title-font-style: normal;
  --Text-styles-Title-font-family: "Inter";
  --Text-styles-Title-font-weight: bold;
  --Text-styles-Title-font-size: 20px;
  --Text-styles-Title-text-indent: 0px;
  --Text-styles-Title-line-height: 25px;
  --Text-styles-Title-letter-spacing: 0%;
  --Text-styles-Title-text-transform: none;
  --Text-styles-Title-text-decoration: none;
}
:root[data-dimensions="mobile"] {
  --base-dimension-02: 2px;
  --base-dimension-04: 4px;
  --base-dimension-08: 8px;
  --base-dimension-12: 12px;
  --base-dimension-16: 16px;
  --base-dimension-24: 24px;
  --base-dimension-32: 32px;
  --radii-radius-01: var(--base-dimension-02);
  --radii-radius-02: var(--base-dimension-08);
  --spacings-spacing-01: var(--base-dimension-02);
  --spacings-spacing-02: var(--base-dimension-04);
  --spacings-spacing-03: var(--base-dimension-12);
  --spacings-spacing-04: var(--base-dimension-16);
}
:root[data-dimensions="desktop"] {
  --base-dimension-02: 2px;
  --base-dimension-04: 4px;
  --base-dimension-08: 8px;
  --base-dimension-12: 12px;
  --base-dimension-16: 16px;
  --base-dimension-24: 24px;
  --base-dimension-32: 32px;
  --radii-radius-01: var(--base-dimension-02);
  --radii-radius-02: var(--base-dimension-08);
  --spacings-spacing-01: var(--base-dimension-04);
  --spacings-spacing-02: var(--base-dimension-08);
  --spacings-spacing-03: var(--base-dimension-12);
  --spacings-spacing-04: var(--base-dimension-16);
}
