@font-face {
  font-family: "Inter-Regular";
  src: url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Numans-Regular";
  src: url("Numans-Regular.woff") format("woff"),
    url("Numans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
