@font-face {
  font-family: "Inter-SemiBold", sans-serif;
  src: url("../assets/fonts/Inter-SemiBold.woff") format("woff"),
    url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular", sans-serif;
  src: url("../assets/fonts/Inter-Regular.woff") format("woff"),
    url("../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium", sans-serif;
  src: url("../assets/fonts/Inter-Medium.woff") format("woff"),
    url("../assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
